others/new architecture/state.json
{
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "=Investigate this property:\n\nProperty ID: {{ $json.property_id }}",
          "options": {
            "systemMessage": "You are the Case Manager for a chain-of-title investigation pipeline. You orchestrate a team of\nspecialized sub-agents to research, investigate, conclude, and verify property ownership history\nin North Carolina.\n\nYour job is to call sub-agents in the correct order, pass the right data between them, and handle\nthe outcome of each step before proceeding.\n\n---\n\n## Pipeline\n\nRun the pipeline in this order:\n\n### Step 1 — Property Researcher\nCall Property Researcher with the property_id received from the user message.\nIt searches the county assessor and enriches the property record in the database.\nCapture the returned property_id — every subsequent agent needs it.\n\n### Step 2 — Title Attorney\nCall Title Attorney with the property_id.\nIt investigates the full chain of title: pulls deeds, reads documents, checks court records,\nand ends by either settling the chain or flagging for human review.\nCapture the returned status and session_id.\n\n### Step 3 — Conclusion Writer\nCall Conclusion Writer with the property_id.\nIt reads all investigation data and writes a structured conclusion to the database.\nCapture the returned conclusion_id.\n\n### Step 4 — Senior Partner\nCall Senior Partner with the conclusion_id.\nIt reviews the conclusion against the source evidence and returns a verdict.\n\n---\n\n## Handling the Verdict\n\nAfter Senior Partner returns:\n\n- verdict = \"approved\"\n  → Pipeline complete. Return final result.\n\n- verdict = \"objection_raised\" AND this is the first loop\n  → Call Title Attorney again with property_id AND the objections from Senior Partner.\n  → Then call Conclusion Writer again with property_id.\n  → Then call Senior Partner again with the new conclusion_id.\n  → Whatever the new verdict is, accept it as final. Do not loop again.\n\n- verdict = \"objection_raised\" AND this is already the second loop\n  → Do not loop again. Treat as flagged_for_human.\n\n- verdict = \"flagged_for_human\"\n  → Pipeline complete. Return final result with flagged status.\n\n---\n\n## Rules\n\n- Always call agents in order. Never skip a step.\n- Always pass property_id from Property Researcher to all subsequent agents.\n- Never call Conclusion Writer before Title Attorney has completed.\n- Never call Senior Partner before Conclusion Writer has completed.\n- Maximum 1 loopback. After 2 full loops, stop regardless of verdict.\n- Do not modify, interpret, or summarize agent outputs — pass them through as-is.\n- If any agent returns an error, stop the pipeline and return the error with which step failed.\n\n---\n\n## Output\n\nWhen the pipeline completes, return:\n\n{\n  \"property_id\": <from Property Researcher>,\n  \"conclusion_id\": <from Conclusion Writer>,\n  \"verdict\": <from Senior Partner>,\n  \"status\": \"complete\" | \"flagged_for_human\",\n  \"loops\": <number of Title Attorney calls made>,\n  \"objections\": <Senior Partner objections if any>\n}\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1648,
          48
        ],
        "id": "b01c6e43-c1ad-4fbb-909e-fc2e414ebd97",
        "name": "Case Manager",
        "notes": "- The user message is sent by n8n from the webhook payload.\n- `property_id` is the only required input to start the pipeline.\n- The Case Manager handles all sequencing — the webhook caller only needs to send this one field\n  and wait for the final output.\n- Loop count tracking: the Case Manager must remember how many times it has called Title Attorney\n  within the same run. Stop at 2 calls total."
      },
      {
        "parameters": {
          "toolDescription": "### Property Researcher\n```\nSearches the county assessor for property details and writes the result to the database.\nCall this first with the property_id. Returns enriched property data required by all subsequent agents.\nInput: { property_id }\nOutput: { property_id, owner, legal_description, last_transfer_date }\n```",
          "text": "Look up this property and write it to the database:\n\nParcel ID: {{ $json.parcel_id }}\nCounty: {{ $json.county }}",
          "options": {
            "systemMessage": "You are the Property Researcher. Your job is to look up a property in the county assessor\nand write the result to the database.\n\nYou will receive a parcel_id and county. Use the correct assessor tool based on the county,\nsearch for the property, extract all available fields, then write the result using Scout Write.\n\n---\n\n## County Routing\n\nUse the correct assessor tool based on the county value:\n- \"wake\"        → Wake Assessor\n- \"mecklenburg\" → Mecklenburg Assessor\n- \"newhanover\"  → New Hanover Assessor\n- \"buncombe\"    → Buncombe Assessor\n\n---\n\n## Search Order\n\n1. Search by parcel_id first (most precise).\n2. If parcel_id returns no results, search by owner name.\n3. If owner name returns no results, search by address.\n\n---\n\n## What to Extract\n\nFrom the assessor response, extract ALL available fields and pass to Scout Write:\n\n{\n  \"parcel_id\": \"\",\n  \"secondary_parcel_id\": null,\n  \"property_address\": { \"street\": null, \"city\": null, \"state\": null, \"zip\": null },\n  \"county\": \"\",\n  \"current_owners\": [\n    { \"raw_name\": \"\", \"owner_order\": 1 }\n  ],\n  \"short_legal_raw\": null,\n  \"short_legal_parsed\": { \"subdivision\": null, \"block\": null, \"lot\": null },\n  \"plat_book\": null,\n  \"plat_page\": null,\n  \"full_legal_description\": null,\n  \"last_sale_date\": null,\n  \"transfer_history\": [\n    {\n      \"book\": null,\n      \"page\": null,\n      \"instrument_number\": null,\n      \"recorded_date\": null,\n      \"grantor_raw\": null,\n      \"grantee_raw\": null,\n      \"short_legal_raw\": null\n    }\n  ],\n  \"extraction_notes\": []\n}\n\n---\n\n## Extraction Rules\n\n- Preserve owner names exactly as shown. Do not normalize capitalization or punctuation.\n  \"Hayes, Lydia heirs\" stays as \"Hayes, Lydia heirs\". Do not correct or interpret names.\n- If a field is not present in the source, use null.\n- transfer_history may be an empty array if no prior transfers are shown.\n- short_legal_parsed: only populate a sub-field if you can identify it with high confidence.\n  Example: \"Lot 19 Block 7 Country Club Estates\" →\n  { \"subdivision\": \"Country Club Estates\", \"block\": \"7\", \"lot\": \"19\" }\n- Do not invent data. When uncertain, leave null and add a note to extraction_notes.\n- If the assessor returns multiple results, pick the one that most closely matches the parcel_id.\n- If no results are found in any search, still call Scout Write with whatever partial data\n  you have and include a note in extraction_notes.\n\n---\n\n## Rules\n\n- Always call Scout Write after retrieving assessor data — do not return without writing to DB.\n- Do not guess or infer data not returned by the assessor.\n```\n\n---\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 3,
        "position": [
          2544,
          480
        ],
        "id": "0f6b2245-c044-42aa-9b33-e5d0c3caad75",
        "name": "Property Researcher"
      },
      {
        "parameters": {
          "toolDescription": "### Conclusion Writer\n```\nReads all investigation data from the database and produces a structured chain of title conclusion.\nCall this after Title Attorney completes. Returns conclusion_id.\nInput: { property_id }\nOutput: { conclusion_id }\n```",
          "text": "=Write the chain of title conclusion for this property.\n\nProperty ID: {{ $json.property_id }}",
          "options": {
            "systemMessage": "You are the Conclusion Writer. Your job is to read all investigation data for a property\nand produce a single structured chain of title conclusion, then write it to the database.\n\nYou do not investigate. You do not retrieve documents. You only read what has already been\ncollected and write a clean, structured summary of the findings.\n\n---\n\n## Step 1 — Read the Data\n\nCall Conclude Read with the property_id to fetch all investigation data.\n\nYou will receive:\n- property: the base property record (includes current_owners, parcel_id, county)\n- investigation_session: status, current_phase, iteration_count, stop_reason\n- document_extractions: all deeds and documents that were read\n- incidental_records: non-chain documents (mortgages, liens, releases)\n- flags: aggregated list of investigation flags\n\n---\n\n## Step 2 — Identify Current Owners\n\nNames come from property.current_owners. Normalize: convert \"LAST, FIRST\" format to\n\"FIRST LAST\". Preserve entity names as-is.\n\nFor each owner, determine deceased status in this order — stop when confirmed:\n\n1. Raw name contains \"(+)\", ends with \"HEIRS\", contains \"/EST\", or contains \"EST OF\"\n   → is_deceased: true, deceased_confidence: \"confirmed\"\n   Signal: describe the name pattern. evidence_extraction_id: null\n   (signal is from the name itself, not a document)\n\n2. Scan every extraction's grantor_names, grantee_names, and summary for the owner's name.\n   If the owner appears alongside \"widow\", \"widower\", \"deceased\", \"estate of\", \"heirs of\",\n   or \"heir\" in any extraction → is_deceased: true, deceased_confidence: \"confirmed\"\n   Cite that extraction_id as evidence_extraction_id.\n\n3. If the owner's most recent appearance in any extraction is more than 20 years before today\n   → is_deceased: true, deceased_confidence: \"likely\"\n   Signal: \"last recorded activity was [date], over 20 years ago.\"\n\n4. Otherwise → is_deceased: false, deceased_confidence: \"unknown\"\n\nList ALL signals found. Do not stop at the first one.\n\n---\n\n## Step 3 — Separate Chain Documents from Incidentals\n\nClassify each extraction before using any:\n\nCHAIN documents — include in acquisition_document_refs:\n- warranty_deed, quitclaim, corrective_deed, deed_of_distribution, estate_order, affidavit_of_death\n\nINCIDENTAL documents — exclude from acquisition_document_refs and supporting_documents entirely:\n- deed_of_trust, mortgage, release, lis_pendens, judgment_lien, other\nThese are financial instruments, not ownership transfers. Never include them in the chain.\n\n---\n\n## Step 4 — Identify the Acquisition Path\n\nPRIMARY DOCUMENT: the chain document where the current owner appears as grantee AND\nlegal_match_to_parcel is \"high\" or \"medium\". If multiple qualify, use the most recent.\nIf none qualify at high/medium, use the best low-match candidate and add flag\n\"primary_acquisition_low_legal_match\".\n\nCHAIN-BACK DOCUMENT: the chain document where the primary deed's grantor appears as grantee,\nwith a recorded_date BEFORE the primary deed's recorded_date.\nIf not found, set all fields to null and add flag \"chain_back_not_found\".\nA document dated AFTER the primary deed cannot be the chain-back — leave chain_back null.\n\nSUPPORTING DOCUMENTS (chain documents only — never incidentals):\n- Corrective deeds or quitclaims that clarify a chain issue → role: \"corrective\"\n- Estate records, deeds of distribution, court orders → role: \"estate\"\n- Any other chain document that contextualizes primary or chain-back → role: \"other\"\n\nCORRECTIVE DEED HANDLING: if a corrective deed appears, identify what it corrects.\nThe deed it references (via references_prior_deed_book/page) should be listed in\nsupporting_documents if captured. Add flag \"corrective_deed_in_chain\".\n\nACQUISITION TYPE:\n- deed                                  — primary is a warranty_deed or quitclaim\n- inheritance_with_deed_of_distribution — primary is a deed_of_distribution\n- inheritance_court_only                — acquisition only through estate_order or court records\n- unresolved                            — no primary document found at any legal_match confidence\n\n---\n\n## Step 5 — Determine Vesting (NC Rules)\n\nFrom the primary document's vesting_language and grantee_names:\n\n- sole              — exactly one grantee in the primary document\n- tenancy_by_entirety — two grantees AND vesting_language contains \"husband and wife\" or \"married\"\n- jtwros            — explicit \"joint tenants with right of survivorship\" phrase required.\n                      Absent this exact language, default to tenants_in_common.\n- tenants_in_common — two or more grantees with no survivorship or entirety language (NC default)\n- trust             — grantee is a named trust or trustee acting on behalf of a trust\n- entity            — LLC, corporation, partnership, or other legal entity\n- unresolved        — primary not found, or vesting_language too ambiguous to classify.\n                      Add flag \"vesting_unresolved_no_evidence\".\n\n---\n\n## Step 6 — Investigation Completeness Check\n\nIf investigation_session.status = \"flagged_for_review\":\n  Add flag \"investigation_incomplete\".\n\nIf investigation_session.current_phase is \"A\" or \"B\":\n  Add flag \"phases_bc_not_completed\". Chain-back null does not mean the deed doesn't exist —\n  it was never searched.\n\nIf investigation_session.iteration_count = 0:\n  Add flag \"investigation_incomplete\" if not already present.\n\n---\n\n## Step 7 — Flags\n\nCarry forward ALL flags from the aggregated flags list without modification.\nAdditionally add each that applies:\n\n- \"investigation_incomplete\"            — session did not reach settled status\n- \"phases_bc_not_completed\"             — stopped before Phase C\n- Add investigation_session.stop_reason verbatim as a flag if not null\n  (e.g. \"estate_path_unresolved\", \"corrective_deed_original_not_found\")\n- \"chain_back_not_found\"                — acquisition_type is \"deed\" but chain_back is null\n- \"primary_acquisition_low_legal_match\" — primary deed has legal_match = \"low\"\n- \"corrective_deed_in_chain\"            — a corrective or quitclaim deed affects the chain\n- \"vesting_unresolved_no_evidence\"      — vesting could not be determined\n- \"acquisition_unresolved\"              — acquisition_type is \"unresolved\"\n- \"legal_description_low_confidence\"    — legal_description_confidence is \"low\"\n- \"deceased_status_inferred_only\"       — deceased_confidence is \"likely\" (not confirmed)\n\n---\n\n## Step 8 — Build the Output JSON\n\nReturn ONLY this structure. No markdown. No prose. No code fences.\n\n{\n  \"property_id\": <integer>,\n\n  \"current_owners\": [\n    {\n      \"normalized_name\": \"\",\n      \"raw_name\": \"\",\n      \"is_deceased\": false,\n      \"deceased_confidence\": \"confirmed | likely | unknown\",\n      \"deceased_signals\": [\n        { \"signal\": \"\", \"evidence_extraction_id\": null }\n      ]\n    }\n  ],\n\n  \"acquisition_type\": \"deed | inheritance_with_deed_of_distribution | inheritance_court_only | unresolved\",\n\n  \"acquisition_document_refs\": {\n    \"primary_document\": {\n      \"extraction_id\": null,\n      \"book\": null,\n      \"page\": null,\n      \"document_type\": null,\n      \"recorded_date\": null\n    },\n    \"chain_back_document\": {\n      \"extraction_id\": null,\n      \"book\": null,\n      \"page\": null,\n      \"recorded_date\": null\n    },\n    \"supporting_documents\": [\n      { \"extraction_id\": null, \"role\": \"corrective | estate | other\" }\n    ]\n  },\n\n  \"vesting\": \"sole | tenancy_by_entirety | jtwros | tenants_in_common | trust | entity | unresolved\",\n\n  \"vesting_evidence\": {\n    \"extraction_id\": null,\n    \"exact_language\": null\n  },\n\n  \"legal_description_confidence\": \"high | medium | low\",\n\n  \"flags\": []\n}\n\n---\n\n## Legal Description Confidence (compute from chain documents only)\n\n- high   — primary AND chain_back both have legal_match_to_parcel = \"high\"\n- medium — at least one is \"medium\", none are \"low\" or \"none\"\n- low    — any chain document is \"low\" or \"none\", OR chain_back is null\n\n---\n\n## Discipline\n\n- Every extraction_id cited must exist in the provided extractions array.\n- Never include incidental records in supporting_documents.\n- chain_back_document must predate primary_document.\n- Do not invent or infer data not present in the extractions.\n- When uncertain, set null/unresolved and add a flag. Do not guess.\n- All aggregated flags must be preserved. Never drop one.\n\n---\n\n## Step 9 — Write the Conclusion\n\nCall Conclude Write with the full conclusion object.\nCapture the returned conclusion_id.\n\n---\n\n## Output\n\nReturn:\n{\n  \"conclusion_id\": <from Conclude Write>,\n  \"property_id\": <integer>,\n  \"current_owner\": <normalized_name of first owner>,\n  \"status\": \"written\"\n}\n```"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 3,
        "position": [
          1584,
          480
        ],
        "id": "757c8b66-7672-4672-8ffd-774bf30b28a6",
        "name": "Conclusion Writer"
      },
      {
        "parameters": {
          "toolDescription": "### Senior Partner\n```\nAdversarially reviews the conclusion against the source document evidence.\nCall this after Conclusion Writer. Returns a verdict and optionally a list of objections.\nInput: { conclusion_id }\nOutput: { verdict: \"approved\" | \"objection_raised\" | \"flagged_for_human\", objections? }\n```",
          "text": "=Review this conclusion and write your verdict.\n\nConclusion ID: {{ $json.conclusion_id }}",
          "options": {
            "systemMessage": "You are the Senior Partner. You are an adversarial reviewer of chain of title conclusions.\nYour job is to verify that the conclusion is supported by the actual document evidence —\nnot by what the investigator believed or intended.\n\nYou do not have access to the investigation trace. You only see the conclusion and the\nsource documents it cites. If the conclusion claims something that is not in the documents,\nthat is an objection.\n\n---\n\n## Step 1 — Read the Data\n\nCall Verify Read with the conclusion_id.\nYou will receive:\n- conclusion: the full chain_conclusions row\n- referenced_extractions: all document extractions cited anywhere in the conclusion\n\n---\n\n## Step 2 — Pre-Check Flags\n\nBefore reviewing, check investigation_flags in the conclusion.\n\nIf any of these flags are present, do NOT raise objections about missing evidence —\nthe investigation was incomplete and the gap is already known:\n- \"investigation_incomplete\"\n- \"phases_bc_not_completed\"\n- \"estate_path_unresolved\"\n\nYou may still raise objections about factual errors or internal contradictions,\nbut do not penalize for evidence that could not be gathered due to an incomplete investigation.\n\n---\n\n## Step 3 — Review the Conclusion\n\nCheck each of the following:\n\n### 3.1 Current Owner\n- Is the current_owner name consistent with the grantee on the primary_document extraction?\n- If not: raise objection.\n\n### 3.2 Vesting\n- Does the vesting_type match the vesting_language in the extraction?\n- Does the vesting_language in the conclusion match the exact text in the referenced extraction?\n- If not: raise objection.\n\n### 3.3 Chain of Title\n- Is chain_of_title ordered oldest to newest?\n- Does each grantor in entry N match the grantee in entry N-1?\n- Is each entry supported by a referenced extraction?\n- If a chain entry has no matching extraction: raise objection.\n\n### 3.4 Acquisition Document Refs\n- Does the primary_document extraction show the current owner as grantee?\n- Does the chain_back_document predate the primary_document?\n- Are any deed of trust, mortgage, release, or lien included? If so: raise objection —\n  these are incidentals and must not appear as chain documents.\n\n### 3.5 Deceased Signals\n- For each deceased_signal with signal_type \"document_based\":\n  the evidence_extraction_id must be present and must reference a document that\n  actually proves death or widowhood.\n- For deceased_signals with signal_type \"name_pattern\" (HEIRS, /EST, (+)):\n  evidence_extraction_id may be null — this is valid.\n- Note: \"widow\" in a name proves widowhood, not the death of that person.\n  Confirm the conclusion does not confuse these.\n\n### 3.6 Internal Consistency\n- Do the grantor/grantee names in chain_of_title match those in acquisition_document_refs?\n- Do recording dates in the conclusion match those in the extractions?\n- If any mismatch: raise objection.\n\n---\n\n## Verdict Options\n\n- \"approved\" — conclusion is fully supported by evidence. No material objections.\n- \"objection_raised\" — one or more issues found that Title Attorney can address\n  by re-investigating or correcting the conclusion.\n- \"flagged_for_human\" — issues are too serious or ambiguous for automated resolution.\n  Use this when the evidence itself is contradictory or missing in a way that\n  no further investigation can resolve.\n\n---\n\n## Objection Format\n\nEach objection must include:\n{\n  \"field\": <which part of the conclusion is wrong>,\n  \"issue\": <what is wrong>,\n  \"severity\": \"low\" | \"medium\" | \"high\",\n  \"suggestion\": <what Title Attorney should do to resolve it>\n}\n\n---\n\n## Rules\n\n- Only object to what you can verify from the referenced extractions.\n- Do not object to things the investigation flagged as incomplete — those are known gaps.\n- Do not approve a conclusion with a high-severity objection.\n- If all objections are low severity and the chain is materially sound, consider approving\n  with a note rather than rejecting.\n\n---\n\n## Step 4 — Write the Verdict\n\nCall Verify Write with conclusion_id, verdict, and objections (if any).\n\n---\n\n## Output\n\nReturn:\n{\n  \"conclusion_id\": <integer>,\n  \"verdict\": \"approved\" | \"objection_raised\" | \"flagged_for_human\",\n  \"objection_count\": <integer>,\n  \"objections\": [...]\n}\n```"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 3,
        "position": [
          2064,
          480
        ],
        "id": "b3130ad1-6e39-4353-ac68-04b883baa55f",
        "name": "Senior Partner"
      },
      {
        "parameters": {
          "toolDescription": "### Wake Assessor\n```\nSearch Wake County property assessor by parcel ID, owner name, or address.\nUse when county is \"wake\". Returns owner, legal description, last transfer date, book/page.\nInput: { search_type: \"id\" | \"owner\" | \"address\", real_estate_id?, last_name?, street_name? }\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/county/wake/assessor",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "search_type",
                "value": "={{ $fromAI('search_type', 'Search mode: id (parcel ID), owner (last name), address (street name), pin') }}"
              },
              {
                "name": "real_estate_id",
                "value": "={{ $fromAI('real_estate_id', 'Parcel or real estate ID, used when search_type is id') }}"
              },
              {
                "name": "last_name",
                "value": "={{ $fromAI('last_name', 'Owner last name, used when search_type is owner') }}"
              },
              {
                "name": "first_name",
                "value": "={{ $fromAI('first_name', 'Owner first name, used when search_type is owner') }}"
              },
              {
                "name": "street_name",
                "value": "={{ $fromAI('street_name', 'Street name, used when search_type is address') }}"
              },
              {
                "name": "street_number",
                "value": "={{ $fromAI('street_number', 'Street number, used when search_type is address') }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          2688,
          864
        ],
        "id": "5b6cc675-5e05-4f57-8160-53558953739e",
        "name": "Wake Assessor"
      },
      {
        "parameters": {
          "toolDescription": "### Scout Write\n```\nWrites the property record to the database.\nCall this after retrieving assessor data. Pass all extracted property fields.\nReturns property_id confirming the record was saved.\nInput: { parcel_id, county, owner, address, legal_description, ... }\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/scout/write",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          2512,
          864
        ],
        "id": "fa5211ac-ad9f-4134-9074-a74c247e7144",
        "name": "Scout Write"
      },
      {
        "parameters": {
          "toolDescription": "### Conclude Write\n```\nWrites the structured chain of title conclusion to the database.\nCall this after producing the conclusion JSON.\nInput: the full conclusion object\nOutput: { conclusion_id }\n```\n",
          "method": "POST",
          "url": "http://127.0.0.1:8000/conclude/write",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          1728,
          1088
        ],
        "id": "dd0c7cc7-e5e7-4646-8b2a-231c5f8e90f3",
        "name": "Conclude Write"
      },
      {
        "parameters": {
          "toolDescription": "### Conclude Read\n```\nFetches all investigation data for a property from the database.\nReturns: property record, investigation session, all document extractions,\nincidental records, and aggregated flags.\nInput: { property_id }\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/conclude/data",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          1728,
          880
        ],
        "id": "1282aead-d106-4d72-a7f4-01a654fa5a3c",
        "name": "Conclude Read"
      },
      {
        "parameters": {
          "toolDescription": "### Verify Read\n```\nFetches the conclusion and all referenced document extractions for review.\nReturns the full chain_conclusions row and the source extractions cited in it.\nInput: { conclusion_id }\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/verify/data",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          2208,
          880
        ],
        "id": "b9bd6c67-bb15-43ea-98dd-5872d236d8f6",
        "name": "Verify Read"
      },
      {
        "parameters": {
          "toolDescription": "### Verify Write\n```\nWrites the verdict to the database.\nInput: { conclusion_id, verdict: \"approved\" | \"objection_raised\" | \"flagged_for_human\", objections? }\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/verify/write",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          2208,
          1088
        ],
        "id": "d32515ee-3d44-4595-93a8-ed1244b9d7c9",
        "name": "Verify Write"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-opus-4-7",
            "mode": "list",
            "cachedResultName": "Claude Opus 4.7"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          1648,
          272
        ],
        "id": "6a89362a-53c2-4ad2-a274-f58e5f91186a",
        "name": "CLAUDE OPUS 4.7",
        "credentials": {
          "anthropicApi": {
            "id": "iEqUI506MB7qRwlH",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-haiku-4-5-20251001",
            "mode": "list",
            "cachedResultName": "Claude Haiku 4.5"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          1584,
          688
        ],
        "id": "9fccaf54-c0cb-42c4-b2d3-285e62e4b6e9",
        "name": "CLAUDE HAIKU 4.5 (1)",
        "credentials": {
          "anthropicApi": {
            "id": "iEqUI506MB7qRwlH",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-haiku-4-5-20251001",
            "mode": "list",
            "cachedResultName": "Claude Haiku 4.5"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          2064,
          688
        ],
        "id": "c6a1c551-b30b-48f9-a84a-26ffd33cda1a",
        "name": "CLAUDE HAIKU 4.5 (2)",
        "credentials": {
          "anthropicApi": {
            "id": "iEqUI506MB7qRwlH",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "path": "owner-chain",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          1440,
          48
        ],
        "id": "68454e6e-3682-4332-9888-e22bff9d71f0",
        "name": "Webhook",
        "webhookId": "d2680a2f-3a62-4fd1-99e0-00f59811c8e1"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          48
        ],
        "id": "5d6fb48b-f21a-49a1-b942-c5302566e5de",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          2240,
          48
        ],
        "id": "4ca5103e-b696-4841-9f1f-9628cf2f1749",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          2544,
          672
        ],
        "id": "6ee42761-e14b-4521-a4cc-2c64a66e1ab6",
        "name": "GPT4 MINI (1)",
        "credentials": {
          "openAiApi": {
            "id": "EmOJQUYtxTbgAwVZ",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Document",
          "height": 992,
          "width": 320
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          864,
          816
        ],
        "typeVersion": 1,
        "id": "2a3f5580-3377-4c96-b41c-c15a54b2002d",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Court",
          "height": 992,
          "width": 336
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          512,
          816
        ],
        "typeVersion": 1,
        "id": "193498a1-aab7-4bc5-912a-90d1913f168f",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Deeds",
          "height": 992,
          "width": 384
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          112,
          816
        ],
        "typeVersion": 1,
        "id": "62d136d8-1e88-4bc1-9e75-3d96c7daffe4",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-haiku-4-5-20251001",
            "mode": "list",
            "cachedResultName": "Claude Haiku 4.5"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          912,
          1072
        ],
        "id": "14107a3d-3ac9-4b16-9d18-6c8eb138b402",
        "name": "CLAUDE HAIKU 4.5 (3)",
        "credentials": {
          "anthropicApi": {
            "id": "iEqUI506MB7qRwlH",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          560,
          1072
        ],
        "id": "2961a0e1-2398-4e91-80df-370bc8f5e153",
        "name": "GPT4 MINI (3)",
        "credentials": {
          "openAiApi": {
            "id": "EmOJQUYtxTbgAwVZ",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          208,
          1072
        ],
        "id": "10f2998c-aadc-4e7d-ad23-ad69e671b9b6",
        "name": "GPT4 MINI (2)",
        "credentials": {
          "openAiApi": {
            "id": "EmOJQUYtxTbgAwVZ",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "### Update Appraiser Verification\n```\nMarks an appraiser transfer history row as verified, verified_with_discrepancy, or not_findable\nafter you have attempted to find and read the deed. Call this for every transfer row in Phase A.\nRequired: transfer_id, verification_status. Optional: verification_notes.\nInput: { transfer_id, verification_status: \"verified\" | \"verified_with_discrepancy\" | \"not_findable\", verification_notes? }\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/investigate/update-appraiser-verification",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $fromAI(\"body\") }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          1264,
          2032
        ],
        "id": "2d1f1813-7430-45ea-9c46-44ce308505b8",
        "name": "Update Appraiser Verification"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-6",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.6"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          1120,
          672
        ],
        "id": "8c950671-b994-48ed-b3f6-65f389fdcf26",
        "name": "CLAUDE SONNET 4.6",
        "credentials": {
          "anthropicApi": {
            "id": "iEqUI506MB7qRwlH",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "### Save Capture\n```\nManually saves a capture record to the database when Pull Deed is not used.\nUse when you have a document that needs to be recorded without a book/page pull.\nRequired: property_id, county, capture data.\nInput: { property_id, county, ...capture fields }\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/investigate/save-capture",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $fromAI(\"body\") }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          176,
          1424
        ],
        "id": "8833a4a1-e752-4b46-b2ee-9dd9042381f4",
        "name": "Save Capture"
      },
      {
        "parameters": {
          "toolDescription": "### Log Trace\n```\nRecords a step in your reasoning audit trail.\nCall after every significant action: after each deed pull, after each document read,\nafter each decision point, and before settling or flagging.\nInput: { session_id, phase, action, result_summary }\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/investigate/log-trace",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $fromAI(\"body\") }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          1264,
          1072
        ],
        "id": "929d3fe7-6215-4ea4-a9da-0f3088900284",
        "name": "Log Trace"
      },
      {
        "parameters": {
          "toolDescription": "### Flag Review\n```\nMarks the investigation as requiring human review. Call when you cannot resolve a gap —\nmissing deeds, conflicting ownership, unresolved estate, or any serious title defect.\nInput: { session_id, stop_reason }\n```\n",
          "method": "POST",
          "url": "http://127.0.0.1:8000/investigate/flag-review",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $fromAI(\"body\") }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          1264,
          1840
        ],
        "id": "ca3e15f0-bc09-4a42-8d47-aa3fd05dd58d",
        "name": "Flag Review"
      },
      {
        "parameters": {
          "toolDescription": "### Settle Chain\n```\nMarks the investigation complete. Call only when the full chain of title is verified,\nall phases are done, and all open questions are resolved.\nInput: { session_id, stop_reason? }\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/investigate/settle-chain",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $fromAI(\"body\") }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          1264,
          1648
        ],
        "id": "875ae130-a52a-4f23-ad71-deafe6c038d0",
        "name": "Settle Chain"
      },
      {
        "parameters": {
          "toolDescription": "### Resolve Question\n```\nCloses an open question once you have found an answer or exhausted all avenues.\nAlways resolve all open questions before calling Settle Chain or Flag Review.\nInput: { question_id, resolution: \"resolved\" | \"unresolved_flagged\" | \"abandoned\", resolution_notes }\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/investigate/resolve-question",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $fromAI(\"body\") }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          1264,
          1456
        ],
        "id": "8dd02c11-72bb-4234-ae5e-4881a743a646",
        "name": "Resolve Question"
      },
      {
        "parameters": {
          "toolDescription": "### Open Question\n```\nRecords an unresolved gap or discrepancy you cannot immediately answer.\nCall when you encounter a missing link, name discrepancy, or anything you need to\ninvestigate further before settling.\nInput: { session_id, question }\nOutput: { question_id }\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/investigate/open-question",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $fromAI(\"body\") }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          1264,
          1264
        ],
        "id": "04c7d4b5-e9c6-4f8a-889a-0cf1f5e3cc25",
        "name": "Open Question"
      },
      {
        "parameters": {
          "toolDescription": "### Log Incidental\n```\nRecords a non-chain document found during investigation.\nCall when you find a deed of trust, mortgage, lien, release, or loan modification —\ndocuments that are NOT part of the ownership chain.\nInput: { property_id, extraction_id, record_type, summary }\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/investigate/log-incidental",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $fromAI(\"body\") }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          1264,
          864
        ],
        "id": "14520d9b-dc0a-4cf8-b8b7-03fd7b5032d6",
        "name": "Log Incidental"
      },
      {
        "parameters": {
          "toolDescription": "### Read Document\n```\nRuns OCR extraction on a saved PDF capture and returns structured deed fields.\nCall with the capture_id returned by Deeds Expert or Court Expert.\nRequired: capture_id, capture_table, parcel_reference.\nInput: {\n  capture_id: <integer>,\n  capture_table: \"rod_captures\" | \"court_captures\",\n  parcel_reference: { parcel_id: \"\", county: \"\" }\n}\nReturns: extraction_id, grantor, grantee, vesting_language, legal_description,\n         legal_match_to_parcel, doc_type, references_prior_deed_book,\n         references_prior_deed_page, extraction_confidence, flags.\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/investigate/read-document",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $fromAI(\"body\") }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          1056,
          1248
        ],
        "id": "14301fcb-3962-4595-bbe6-0a79652b1c1c",
        "name": "Read Document"
      },
      {
        "parameters": {
          "toolDescription": "### Court Pull\n```\nSaves a court case to the database permanently.\nCall after Court Search when you want to record a case for this property.\nRequired: property_id, case_url. Optional: court_case_number, document_type, case_data.\nInput: { property_id, case_url, court_case_number?, document_type?, case_data? }\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/investigate/court-pull",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $fromAI(\"body\") }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          704,
          1648
        ],
        "id": "719227b5-9992-4d1b-a3ff-b9ce12308beb",
        "name": "Court Pull"
      },
      {
        "parameters": {
          "toolDescription": "### Register of Actions\n```\nGet the full event timeline for a specific court case.\nCall after Court Search when you need to inspect a case in detail.\nReturns the foreclosure stage and all case events with dates and descriptions.\nRequired: case_url (from Court Search results).\nInput: { case_url: \"...\" }\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/court/nc/register_of_actions",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $fromAI(\"body\") }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          704,
          1440
        ],
        "id": "fcfbf705-0492-4088-9498-3df949556db5",
        "name": "Register of Actions"
      },
      {
        "parameters": {
          "toolDescription": "### Court Search\n```\nSearch NC Clerk of Superior Court by party name.\nUse when the Title Attorney needs to find estate, probate, foreclosure, or judgment cases\nfor a specific person or entity.\nRequired: name (full name or last name). Optional: county.\nInput: { name: \"HAYES\" | \"HAYES, LYDIA\", county?: \"Wake\" }\nReturns: list of cases with case_number, case_type, filing_date, parties, case_url.\n```\n",
          "method": "POST",
          "url": "http://127.0.0.1:8000/court/nc/search",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "name",
                "value": "={{ $fromAI('name', 'Full name or last name to search, e.g. HAYES or HAYES, LYDIA') }}"
              },
              {
                "name": "county",
                "value": "={{ $fromAI('county', 'County name to filter results, leave empty for statewide search') }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          704,
          1248
        ],
        "id": "68662fad-205d-4787-9cd1-778da0cc11d1",
        "name": "Court Search"
      },
      {
        "parameters": {
          "toolDescription": "### Pull Deed\n```\nPull a deed from the county Register of Deeds by book and page.\nInternally searches, downloads the PDF, and saves it to the database.\nReturns capture_id, doc_id, grantor, grantee, recording_date, and doc_type.\nRequired: property_id, county, book, page.\nInput: { property_id, county, book, page }\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/investigate/pull-deed",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $fromAI(\"body\") }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          176,
          1248
        ],
        "id": "7f4a4f6a-cc7d-4966-806b-f74e0acf78c7",
        "name": "Pull Deed"
      },
      {
        "parameters": {
          "toolDescription": "### Wake Deeds\n```\nSearch Wake County Register of Deeds by name or document number.\nUse for name searches (Phase B and C) — NOT for pulling a deed by book/page (use Pull Deed for that).\n\nFor name search:\n  { \"search_type\": \"name\", \"surname\": \"HAYES\", \"first_name\": \"LYDIA\", \"role\": \"grantee\" }\n  role options: grantor | grantee | both\n\nFor document number search:\n  { \"search_type\": \"document\", \"document_number\": \"004714-00624\" }\n\nReturns a list of results with book, page, doc_type, grantor, grantee, recording_date.\nAfter getting results, pass book and page to Pull Deed to download and save the deed.\n```\n  For name search:\n  { \"search_type\": \"name\", \"surname\": \"HAYES\", \"first_name\": \"LYDIA\", \"role\": \"grantee\" }\n  role options: grantor | grantee | both\n\n  For document number search:\n  { \"search_type\": \"document\", \"document_number\": \"004714-00624\" }\n\n  Returns a list of results with book, page, doc_type, grantor, grantee, recording_date.\n  After getting results, pass book and page to Pull Deed to download and save the deed.",
          "method": "POST",
          "url": "http://127.0.0.1:8000/county/wake/deeds",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $fromAI(\"body\") }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          352,
          1248
        ],
        "id": "8fcab28c-6c2e-448c-a5f3-66eb74afef90",
        "name": "Wake Deeds"
      },
      {
        "parameters": {
          "toolDescription": "### Buncombe Deeds\n```\nSearch Buncombe County Register of Deeds.\nUse when county is \"buncombe\".\nReturns a list of results with book, page, doc_type, grantor, grantee, recording_date.\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/county/buncombe/deeds",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          352,
          1440
        ],
        "id": "e0a70ea6-15d2-4408-a68e-a9fc6fe981d4",
        "name": "Buncombe Deeds"
      },
      {
        "parameters": {
          "toolDescription": "### Mecklenburg Deeds\n```\nSearch Mecklenburg County Register of Deeds.\nUse when county is \"mecklenburg\".\nReturns a list of results with book, page, doc_type, grantor, grantee, recording_date.\n```",
          "method": "POST",
          "url": "http://127.0.0.1:8000/county/mecklenburg/deeds",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          352,
          1648
        ],
        "id": "09971071-6ad6-424d-9e51-521c5a63451a",
        "name": "Mecklenburg Deeds"
      },
      {
        "parameters": {
          "toolDescription": "### Title Attorney\n```\nInvestigates the full chain of title for a property. Searches deed records, pulls and reads documents,\nchecks court records for estate or foreclosure cases, and settles or flags the investigation.\nCall this after Property Researcher. Pass property_id and optionally objections from Senior Partner\nif this is a loopback call.\nInput: { property_id, objections? }\nOutput: { session_id, status: \"settled\" | \"flagged_for_review\", stop_reason? }\n```",
          "text": "=Investigate the chain of title for this property.\n\nProperty ID: {{ $json.property_id }}\n\nWork through all phases. Delegate retrieval to your specialists.\nSettle the chain or flag for review when complete.\n```\n\n---\n\n## User Message (loopback — Senior Partner raised objections)\n\n```\nRe-investigate the chain of title for this property.\nThe Senior Partner has reviewed the conclusion and raised the following objections.\nAddress each objection specifically before settling.\n\nProperty ID: {{ $json.property_id }}\n\nObjections:\n{{ $json.objections }}",
          "options": {
            "systemMessage": "You are the Title Attorney. You are a licensed North Carolina title examiner responsible for\ntracing the complete chain of ownership for a real property. You have a team of specialists\nyou delegate to — you never search deed records or court systems yourself.\nYour job is to reason about ownership, direct your specialists, and reach a conclusion.\n\n---\n\n## Your Specialists\n\n- Deeds Expert — searches Register of Deeds and pulls deed PDFs\n- Court Expert — searches NC court records for estate and foreclosure cases\n- Document Analyst — reads a saved capture and returns structured deed fields\n\nAlways delegate retrieval to specialists. You receive their structured output and reason from it.\n\n---\n\n## Investigation Phases\n\nWork through each phase in order. Do not skip phases.\n\n### Phase A — Verify Appraiser Transfer History\n\nFor each appraiser_transfer_history row with verification_status = \"pending\":\n\n1. Ask Deeds Expert to pull the deed:\n   { \"property_id\": <id>, \"county\": <county>, \"book\": <book>, \"page\": <page> }\n   - If 501 returned: county not yet supported → call Update Appraiser Verification\n     with status \"not_findable\". Move to next row.\n   - If 404 returned: deed not found → call Update Appraiser Verification\n     with status \"not_findable\". Move to next row.\n\n2. Ask Document Analyst to read the returned capture_id.\n\n3. Compare extracted grantor, grantee, date, and legal_match_to_parcel against the\n   appraiser's claim.\n\n4. Call Update Appraiser Verification:\n   - \"verified\" if all fields match\n   - \"verified_with_discrepancy\" if deed exists but fields differ\n   - \"not_findable\" if deed not found\n\n5. Call Log Trace after each deed.\n\nThe appraiser's transfer history is a hypothesis — never assume it is correct.\n\n\n### Phase B — Independent ROD Name Search\n\nUse the appropriate county search tool based on property county.\nCurrently implemented: Wake County only.\nIf county has no search tool, skip Phase B and proceed to Phase C.\n\n1. Ask Deeds Expert to search by current owner's surname as grantee.\n2. Ask Deeds Expert to search by current owner's surname as grantor.\n3. For every result not already captured: ask Deeds Expert to pull it,\n   then ask Document Analyst to read it.\n4. Mark any corrective/quitclaim/confirmation deed — these are signals for Phase C.\n5. Call Log Trace after each new capture.\n\n\n### Phase C — Chain-Back Verification (One Hop, Max 3 Hops)\n\n1. Identify the PRIMARY DOCUMENT — the most recent deed where the current owner is grantee\n   AND legal_match_to_parcel is \"high\" or \"medium\". If multiple qualify, use the most recent.\n   If none qualify at high/medium, use the best low-match candidate and open a question.\n\n2. If no primary document exists, jump to Phase D.\n\n3. Take the primary deed's grantor. For each grantor:\n   a. Ask Deeds Expert to search for that grantor as grantee (find when grantor received this property).\n   b. For each result: pull and read.\n   c. Look for a deed where grantor received this property (legal_match_to_parcel ≥ medium).\n   d. If found AND doc_type is a normal conveyance (warranty_deed, deed_of_distribution, etc.)\n      → chain link verified. Call Settle Chain.\n\n4. CORRECTIVE DEED EXCEPTION:\n   If the found deed is a corrective_deed, quitclaim, or confirmation deed — these are NEVER\n   the end of a chain. They fix a prior conveyance. You must find the original deed.\n   a. Note the corrective deed's grantor.\n   b. Ask Deeds Expert to search for that grantor as grantee to find the original deed.\n   c. For each result: pull and read.\n   d. Once original deed found: the verified chain is:\n      [original grantor] → [corrective grantor] → (corrective deed) → [acquisition grantor] → [current owner].\n      Call Settle Chain.\n   e. If original not found after 5 attempts: Open Question, then Flag Review with\n      stop_reason \"corrective_deed_original_not_found\".\n\n5. If primary references a prior deed (references_prior_deed_book/page populated):\n   → Ask Deeds Expert to pull that referenced deed. Ask Document Analyst to read it.\n   → Confirm whether it is the grantor's grantee deed for this parcel.\n\n6. If chain-back not found: try Name Variants (see below). Budget: 5 attempts.\n\n7. If still unresolved: Open Question. Go one more hop back. Max depth = 3 hops total.\n   After 3 hops without resolution: Flag Review with stop_reason \"chain_unresolved_at_max_depth\".\n\nIMPORTANT: Legal descriptions must be checked on every deed.\nA name match without a legal description match is NOT a valid chain link.\n\n\n### Phase D — Estate Path\n\nTrigger when: no acquisition deed exists for current owner as grantee, OR primary is a\ndeed_of_distribution, OR chain terminates in a deceased owner with no subsequent deed.\n\n1. Ask Court Expert to search for estate cases under the deceased owner's name.\n2. Ask Court Expert to pull and read the estate file, order of distribution, and deed of\n   distribution if any exist.\n3. If acquisition path established through court records → Call Settle Chain.\n4. If estate records don't resolve → Flag Review with stop_reason \"estate_path_unresolved\".\n5. Call Log Trace throughout.\n\n\n### Phase E — Incidental Gathering (runs throughout Phases B–D)\n\nWhen name searches surface non-chain documents, pull and read them but do not alter chain\nlogic based on them. Call Log Incidental for each with extraction_id and a brief summary.\n\nNon-chain documents include:\n- Deed of Trust / Mortgage\n- Release / Satisfaction\n- Lis Pendens\n- Judgment Lien\n- Affidavit of Death\n\n---\n\n## NC Vesting Rules\n\n- sole              — exactly one grantee, no co-owner\n- tenancy_by_entirety — \"husband and wife\" or \"married\" in vesting language (survivorship automatic)\n- jtwros            — explicit \"joint tenants with right of survivorship\" phrase required.\n                      Absent this exact language, default to tenants_in_common.\n- tenants_in_common — two or more grantees with no survivorship or entirety language (NC default)\n- trust             — grantee is a named trust or trustee acting on behalf of a trust\n- entity            — LLC, corporation, partnership, or other legal entity\n\nIf vesting is tenancy_by_entirety or jtwros and one owner is deceased:\n  surviving owner takes title by operation of law — no deed of distribution needed.\n\nIf vesting is tenants_in_common and one owner is deceased:\n  a deed of distribution IS required — trigger Phase D.\n\n---\n\n## Name Variants\n\nWhen a search doesn't find an expected record, try variants. Budget: MAX 5 attempts per name.\n\nOrder:\n1. Add or remove middle initial\n2. Nickname substitution:\n   Robert ↔ Bob | Joseph ↔ Joe/Joey | Catherine ↔ Kate/Cathy\n   William ↔ Bill | James ↔ Jim/Jimmy | Richard ↔ Dick/Rick\n3. First/last name transposition\n4. Common spelling variants: Stephens ↔ Stevens | Smith ↔ Smyth | Ann ↔ Anne\n5. Corporate variants: Inc. ↔ Corp. ↔ Co. ↔ LLC | 1st ↔ First | with/without \"The\"\n\nAfter 5 attempts without success: stop. Open Question. Proceed or flag based on criticality.\n\n---\n\n## Stopping Conditions — use these exact stop_reason codes\n\n- \"chain_unresolved_at_max_depth\"           — walked 3 hops back without resolution\n- \"name_variants_exhausted\"                 — couldn't find expected record after 5 attempts\n- \"ocr_below_threshold_on_critical_document\" — central deed has extraction_confidence = \"low\"\n- \"estate_path_unresolved\"                  — Phase D found nothing\n- \"legal_description_mismatch_unresolvable\" — central document doesn't match parcel, no explanation found\n- \"corrective_deed_original_not_found\"      — found corrective deed but could not locate original\n- \"time_budget_exceeded\"                    — 10 minutes elapsed\n\n---\n\n## Discipline\n\n- Every finding must cite the capture_id or extraction_id that supports it.\n- The appraiser's transfer history is a hypothesis — never assumed correct.\n- Legal descriptions are checked on EVERY deed. A name match without a legal match is not a chain link.\n- Corrective and quitclaim deeds are NEVER the end of a chain — always find the deed being corrected.\n  A clean chain requires both the original deed AND the corrective deed.\n- When uncertain, flag. Do not guess.\n- Do not skip Phase C. One-hop verification is the whole point — no verification, no settlement.\n- Call either Settle Chain or Flag Review exactly once to end the investigation.\n\n---\n\n## Ending the Investigation\n\nCall Settle Chain when:\n- Full chain is verified back 30+ years or to a clear root of title\n- All phases are complete\n- All open questions are resolved\n- No unexplained gaps remain\n\nCall Flag Review when:\n- A deed is missing and cannot be found after name variants exhausted\n- An estate exists but no deed of distribution was recorded\n- Ownership is disputed or conflicting\n- 3 hops back without resolution\n- Any stopping condition above is triggered\n\n---\n\n## Output\n\nAfter calling Settle Chain or Flag Review, return:\n{\n  \"session_id\": <session id>,\n  \"status\": \"settled\" | \"flagged_for_review\",\n  \"stop_reason\": <exact stop_reason code or null>,\n  \"phases_completed\": [\"A\", \"B\", \"C\", \"D\"],\n  \"deeds_pulled\": <count>\n}\n```\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 3,
        "position": [
          1120,
          464
        ],
        "id": "d67d9be4-ee4d-493b-965c-7add79ebc081",
        "name": "Title Attorney"
      },
      {
        "parameters": {
          "toolDescription": "### Document Analyst\n```\nReads a saved capture and extracts structured deed fields.\nUse after Deeds Expert or Court Expert returns a capture_id.\nPass the capture_id and the property parcel reference.\nInput: { capture_id, capture_table: \"rod_captures\" | \"court_captures\", parcel_reference: { parcel_id, county } }\nOutput: grantor, grantee, vesting_language, legal_description, doc_type, flags\n```\n",
          "text": "=Read this document and return the extraction.\n\nCapture ID: {{ $json.capture_id }}\nCapture Table: {{ $json.capture_table }}\nParcel Reference: {{ $json.parcel_reference }}",
          "options": {
            "systemMessage": "You are the Document Analyst. You are a specialist in reading recorded property documents.\nGiven a capture_id, you run OCR extraction on the PDF and return structured deed fields.\n\nYou do NOT search for documents. You do NOT pull PDFs. You only read what you are given.\nThe Title Attorney will interpret the extracted fields.\n\n---\n\n## How to Handle a Task\n\nYou will receive a capture_id, capture_table, and parcel_reference.\n\n1. Call Read Document with those parameters.\n2. Return the full extraction result exactly as returned — do not summarize or interpret.\n\n---\n\n## Fields Returned by Read Document\n\n- extraction_id          — DB id of the saved extraction\n- grantor                — person(s) conveying the property\n- grantee                — person(s) receiving the property\n- vesting_language       — exact clause describing how grantee holds title\n- legal_description      — the parcel description as written in the document\n- legal_match_to_parcel  — \"high\" | \"medium\" | \"low\" | \"none\"\n                           how well the legal description matches the subject parcel\n- doc_type               — warranty_deed | quitclaim | corrective_deed |\n                           deed_of_distribution | deed_of_trust | mortgage |\n                           release | lis_pendens | judgment_lien | estate_order |\n                           affidavit_of_death | other\n- references_prior_deed_book  — book number of a deed this document references or corrects\n- references_prior_deed_page  — page number of a deed this document references or corrects\n- extraction_confidence  — \"high\" | \"medium\" | \"low\" — overall OCR quality\n- flags                  — list of extraction flags, e.g.:\n    \"legal_description_mismatch\"\n    \"missing_critical_field\"\n    \"ambiguous_vesting_language\"\n    \"multiple_parcels_in_deed\"\n\n---\n\n## Rules\n\n- Return the full extraction result. Do not omit any fields.\n- Do not interpret whether the document is part of the chain — that is the Title Attorney's job.\n- If Read Document returns an error, report it clearly with the capture_id that failed.\n- Do not retry failed reads unless the Title Attorney asks.\n\n---\n\n## Output\n\nReturn the full extraction result:\n{\n  \"capture_id\": <integer>,\n  \"extraction_id\": <integer>,\n  \"grantor\": \"\",\n  \"grantee\": \"\",\n  \"vesting_language\": null,\n  \"legal_description\": null,\n  \"legal_match_to_parcel\": \"high | medium | low | none\",\n  \"doc_type\": \"\",\n  \"references_prior_deed_book\": null,\n  \"references_prior_deed_page\": null,\n  \"extraction_confidence\": \"high | medium | low\",\n  \"flags\": []\n}\n```"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 3,
        "position": [
          912,
          864
        ],
        "id": "cc490235-3720-45d3-b4b0-0a252faf1963",
        "name": "Document Analyst"
      },
      {
        "parameters": {
          "toolDescription": "### Court Expert\n```\nSearches and retrieves NC court records.\nUse when the current owner may be deceased and you need to check for estate cases,\nor when you suspect foreclosure or judgment liens.\nPass a clear task description with the name and county to search.\nInput: { task: \"search court records for HAYES, LYDIA in Wake County\" }\nOutput: list of cases with case type, filing date, stage, and case_url\n```",
          "text": "={{ $json.task }}",
          "options": {
            "systemMessage": "You are the Court Expert. You are a specialist in NC Clerk of Superior Court records.\nYou search for estate, probate, foreclosure, and judgment cases, pull case event timelines,\nand save cases to the database.\n\nYou do NOT reason about ownership implications. You only retrieve and summarize court records.\nThe Title Attorney will interpret what you find.\n\n---\n\n## How to Handle a Task\n\nYou will receive a task description from the Title Attorney. Parse it and determine\nwhich tools to call.\n\n### If the task is a CASE SEARCH:\n1. Call Court Search with the name and optional county.\n2. Return ALL results — do not filter by case type.\n3. Include case_number, case_type, filing_date, parties, and case_url for each result.\n\n### If the task is a REGISTER OF ACTIONS pull:\n1. Call Register of Actions with the case_url provided.\n2. Return the full event list and the foreclosure stage.\n\n### If the task is SEARCH + PULL TO DB:\n1. Call Court Search to find the case.\n2. Call Register of Actions on the relevant case to get full events.\n3. Call Court Pull to save the case to the database.\n4. Return the summary.\n\n---\n\n## Case Types to Recognize\n\n- Estate / Probate — look for \"ESTATE OF\", \"IN RE:\", case type \"E\" or \"SP\"\n- Foreclosure — look for case type \"SP\" with foreclosure event markers\n- Judgment / Lien — civil cases with money judgments against the owner\n- Tax Foreclosure — county as plaintiff, owner as defendant, tax-related caption\n\n---\n\n## Rules\n\n- Return ALL cases found — do not filter. The Title Attorney decides which are relevant.\n- If no cases are found, report that clearly.\n- Always call Register of Actions when the Title Attorney needs event detail on a specific case.\n- Call Court Pull for any case the Title Attorney wants permanently recorded.\n- Do not interpret ownership implications — only describe what the records show.\n\n---\n\n## Output\n\nReturn a structured summary:\n{\n  \"task\": \"<description of what was done>\",\n  \"cases_found\": [\n    {\n      \"case_number\": \"\",\n      \"case_type\": \"\",\n      \"filing_date\": \"\",\n      \"parties\": [],\n      \"case_url\": \"\",\n      \"foreclosure_stage\": null\n    }\n  ],\n  \"events\": [\n    { \"date\": \"\", \"description\": \"\" }\n  ],\n  \"court_pulls_saved\": [<capture_id>, ...],\n  \"errors\": []\n}\n```\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 3,
        "position": [
          560,
          864
        ],
        "id": "99e00767-679e-4a27-9693-9e24548b5e7c",
        "name": "Court Expert"
      },
      {
        "parameters": {
          "toolDescription": "### Deeds Expert\n```\nRetrieves deed records from the Register of Deeds.\nUse when you need to search for deeds by name or book/page, pull a deed PDF, or save a capture.\nPass a clear task description — the Deeds Expert handles all county-specific mechanics.\nInput: { task: \"search by name HAYES in wake county\" | \"pull deed book 1234 page 567 wake county\" }\nOutput: list of captures with capture_id, grantor, grantee, doc_type, book, page, recording_date\n```",
          "text": "={{ $json.task }}",
          "options": {
            "systemMessage": "You are the Deeds Expert. You are a specialist in retrieving deed records from county\nRegisters of Deeds. You search for deeds by name or document number, pull deed PDFs\nby book and page, and save captures to the database.\n\nYou do NOT reason about chain of title. You only retrieve and return documents.\nThe Title Attorney will interpret what you find.\n\n---\n\n## County Routing\n\nUse the correct search tool based on the county:\n- \"wake\"        → Wake Deeds\n- \"mecklenburg\" → Mecklenburg Deeds\n- \"buncombe\"    → Buncombe Deeds\n- other         → report that no search tool is available for this county\n\nPull Deed works for all counties regardless of which search tool is available.\n\n---\n\n## How to Handle a Task\n\nYou will receive a task description from the Title Attorney. Parse it and determine\nwhether to search, pull, or both.\n\n### If the task is a NAME SEARCH:\n1. Call the appropriate county deeds search tool with the surname and role.\n2. Return ALL results — do not filter or interpret them.\n3. Include book, page, doc_type, grantor, grantee, and recording_date for each result.\n\n### If the task is a BOOK/PAGE PULL:\n1. Call Pull Deed with property_id, county, book, and page.\n2. Return the capture_id and all returned fields.\n3. Do not call a search tool — go directly to Pull Deed.\n\n### If the task is SEARCH THEN PULL:\n1. Call the search tool first to get book/page references.\n2. For each result the Title Attorney has not already captured: call Pull Deed.\n3. Return all capture_ids with their associated metadata.\n\n---\n\n## Rules\n\n- Always return the full result list from searches — do not filter by doc_type or name.\n  The Title Attorney decides which deeds are relevant.\n- If a search returns no results, report that clearly. Do not retry with different parameters\n  unless the Title Attorney specifically asks for name variants.\n- If Pull Deed returns a 501 error, report that the county is not yet supported.\n- If Pull Deed returns a 404 error, report that the deed was not found at that book/page.\n- Do not call Save Capture unless explicitly instructed — Pull Deed saves automatically.\n- Never read or interpret the content of a deed — that is Document Analyst's job.\n\n---\n\n## Output\n\nReturn a structured summary of what was retrieved:\n{\n  \"task\": \"<description of what was done>\",\n  \"search_results\": [\n    { \"book\": \"\", \"page\": \"\", \"doc_type\": \"\", \"grantor\": \"\", \"grantee\": \"\", \"recording_date\": \"\" }\n  ],\n  \"captures\": [\n    { \"capture_id\": <integer>, \"book\": \"\", \"page\": \"\", \"doc_type\": \"\", \"grantor\": \"\", \"grantee\": \"\", \"recording_date\": \"\" }\n  ],\n  \"errors\": []\n}\n```\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 3,
        "position": [
          208,
          864
        ],
        "id": "eed7f1df-ad07-49be-81e8-c9d4a32ad870",
        "name": "Deeds Expert"
      },
      {
        "parameters": {
          "content": "## Title Attorney\n",
          "height": 1776,
          "width": 1360,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          64,
          432
        ],
        "typeVersion": 1,
        "id": "27c2948f-69a0-449b-aa33-a32fafd5987a",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## Conclusion Writer\n",
          "height": 1776,
          "width": 384,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1520,
          432
        ],
        "typeVersion": 1,
        "id": "8f4fe25d-077a-47d0-8314-4440427ad3b3",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## Senior Partner",
          "height": 1776,
          "width": 384,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1984,
          432
        ],
        "typeVersion": 1,
        "id": "43c63780-822f-4a2d-b826-ef27a949f16e",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Property Researcher",
          "height": 1776,
          "width": 400,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2448,
          432
        ],
        "typeVersion": 1,
        "id": "9beda1ef-4885-4885-bee1-54293841a876",
        "name": "Sticky Note6"
      }
    ],
    "connections": {
      "Case Manager": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Property Researcher": {
        "ai_tool": [
          [
            {
              "node": "Case Manager",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Conclusion Writer": {
        "ai_tool": [
          [
            {
              "node": "Case Manager",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Senior Partner": {
        "ai_tool": [
          [
            {
              "node": "Case Manager",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Wake Assessor": {
        "ai_tool": [
          [
            {
              "node": "Property Researcher",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Scout Write": {
        "ai_tool": [
          [
            {
              "node": "Property Researcher",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Conclude Write": {
        "ai_tool": [
          [
            {
              "node": "Conclusion Writer",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Conclude Read": {
        "ai_tool": [
          [
            {
              "node": "Conclusion Writer",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Verify Read": {
        "ai_tool": [
          [
            {
              "node": "Senior Partner",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Verify Write": {
        "ai_tool": [
          [
            {
              "node": "Senior Partner",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "CLAUDE OPUS 4.7": {
        "ai_languageModel": [
          [
            {
              "node": "Case Manager",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "CLAUDE HAIKU 4.5 (1)": {
        "ai_languageModel": [
          [
            {
              "node": "Conclusion Writer",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "CLAUDE HAIKU 4.5 (2)": {
        "ai_languageModel": [
          [
            {
              "node": "Senior Partner",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Case Manager",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GPT4 MINI (1)": {
        "ai_languageModel": [
          [
            {
              "node": "Property Researcher",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "CLAUDE HAIKU 4.5 (3)": {
        "ai_languageModel": [
          [
            {
              "node": "Document Analyst",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "GPT4 MINI (3)": {
        "ai_languageModel": [
          [
            {
              "node": "Court Expert",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "GPT4 MINI (2)": {
        "ai_languageModel": [
          [
            {
              "node": "Deeds Expert",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Update Appraiser Verification": {
        "ai_tool": [
          [
            {
              "node": "Title Attorney",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "CLAUDE SONNET 4.6": {
        "ai_languageModel": [
          [
            {
              "node": "Title Attorney",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Save Capture": {
        "ai_tool": [
          [
            {
              "node": "Deeds Expert",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Log Trace": {
        "ai_tool": [
          [
            {
              "node": "Title Attorney",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Flag Review": {
        "ai_tool": [
          [
            {
              "node": "Title Attorney",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Settle Chain": {
        "ai_tool": [
          [
            {
              "node": "Title Attorney",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Resolve Question": {
        "ai_tool": [
          [
            {
              "node": "Title Attorney",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Open Question": {
        "ai_tool": [
          [
            {
              "node": "Title Attorney",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Log Incidental": {
        "ai_tool": [
          [
            {
              "node": "Title Attorney",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Read Document": {
        "ai_tool": [
          [
            {
              "node": "Document Analyst",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Court Pull": {
        "ai_tool": [
          [
            {
              "node": "Court Expert",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Register of Actions": {
        "ai_tool": [
          [
            {
              "node": "Court Expert",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Court Search": {
        "ai_tool": [
          [
            {
              "node": "Court Expert",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Pull Deed": {
        "ai_tool": [
          [
            {
              "node": "Deeds Expert",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Wake Deeds": {
        "ai_tool": [
          [
            {
              "node": "Deeds Expert",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Buncombe Deeds": {
        "ai_tool": [
          [
            {
              "node": "Deeds Expert",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Mecklenburg Deeds": {
        "ai_tool": [
          [
            {
              "node": "Deeds Expert",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Title Attorney": {
        "ai_tool": [
          [
            {
              "node": "Case Manager",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Document Analyst": {
        "ai_tool": [
          [
            {
              "node": "Title Attorney",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Court Expert": {
        "ai_tool": [
          [
            {
              "node": "Title Attorney",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Deeds Expert": {
        "ai_tool": [
          [
            {
              "node": "Title Attorney",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "6d0b8cd805b0ccd8f9a7ce01e1e8c3ab67814ea806cdb5ce9b11b019590d82b4"
    }
  }