others/new architecture/state.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -928,
        320
      ],
      "id": "6f93998a-a52e-4a97-9b9b-1dba35aed9ae",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Compile final heir tree\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        320
      ],
      "id": "2aacc5bc-dd47-4db7-9b44-069ddfd19ee2",
      "name": "Compile Heir Tree"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-cascade",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1392,
        304
      ],
      "id": "c9d8626a-bbc4-4c46-a02e-323962ffbf77",
      "name": "More Cascade?"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an NC intestate succession expert. Apply NC Chapter 29 to determine each heir's share of the estate. Identify any deceased heirs who require their own research cascade."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1680,
        304
      ],
      "id": "a73b863c-f72f-4f32-a414-f7614e325b40",
      "name": "Intestate Expert"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -1232,
        1088
      ],
      "id": "08cd665e-e663-4a8e-b019-35ea99269138",
      "name": "Court Records"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1904,
        528
      ],
      "id": "616287e4-830e-4751-9a12-0ddfdf3dfd7d",
      "name": "Loop Over Relatives"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -2032,
        784
      ],
      "id": "409ceb8d-b09f-4ab7-bae2-4caa9a361c67",
      "name": "Write Raw Relatives"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -2192,
        784
      ],
      "id": "455741f9-185c-4615-ac27-184aaa9fa77c",
      "name": "Load Database"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -2352,
        784
      ],
      "id": "d357e999-f026-4cc8-92d9-9a0b96a0ae7d",
      "name": "SkipGenie — Root Decedent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2304,
        528
      ],
      "id": "28562bdd-9e5e-4421-a847-aa4071592ec4",
      "name": "Root Owner Research"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "heir-tracer",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2544,
        528
      ],
      "id": "6f6296ba-0112-487c-89a8-7e5939ab34fc",
      "name": "Webhook",
      "webhookId": "109370a4-d1ad-4441-8e39-f9c7b0ce51af"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -912,
        1088
      ],
      "id": "603dd8c0-e3ab-4b76-8f04-4e770cfe24b5",
      "name": "Wake Deeds"
    },
    {
      "parameters": {
        "additionalParameters": {}
      },
      "type": "@brave/n8n-nodes-brave-search.braveSearchTool",
      "typeVersion": 1,
      "position": [
        -1552,
        1088
      ],
      "id": "6befb90c-354f-4c54-bb54-39b4a9f8960c",
      "name": "Brave Search"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1392,
        544
      ],
      "id": "707d04c7-19b7-4cda-9be4-d89c410288cf",
      "name": "Orchestrator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -1696,
        880
      ],
      "id": "33207781-2c40-4d26-866f-0f8cf69d15d2",
      "name": "Obituary Researcher"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -1376,
        880
      ],
      "id": "de4ece3f-2249-49a0-adb7-4277f338975c",
      "name": "AI Agent Tool"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -1056,
        880
      ],
      "id": "6d56d9d9-403c-4848-91ba-ebab25461d28",
      "name": "Deeds Expert"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -1856,
        880
      ],
      "id": "04502aa8-af58-4b4f-b11e-35a6b701bd28",
      "name": "SkipGenie"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -752,
        880
      ],
      "id": "db43d9d7-9092-46c8-b7df-f39988bb0f5e",
      "name": "Family Tree Expert"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -608,
        1088
      ],
      "id": "40666141-4b22-4c50-85b9-c4987c17ea0a",
      "name": "Write Family Tree Database"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -1856,
        1088
      ],
      "id": "b81f6230-f49b-48ea-886d-18ad05473879",
      "name": "Load Database Context"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.4,
      "position": [
        -2496,
        784
      ],
      "id": "7f8cf2e5-0969-4ee1-838d-9597656ac590",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "slx6A4HcMXcKN5Y1",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "connections": {
    "Compile Heir Tree": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Cascade?": {
      "main": [
        [
          {
            "node": "Loop Over Relatives",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compile Heir Tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intestate Expert": {
      "main": [
        [
          {
            "node": "More Cascade?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Court Records": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Tool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Relatives": {
      "main": [
        [
          {
            "node": "Intestate Expert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Raw Relatives": {
      "ai_tool": [
        [
          {
            "node": "Root Owner Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Load Database": {
      "ai_tool": [
        [
          {
            "node": "Root Owner Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SkipGenie — Root Decedent": {
      "ai_tool": [
        [
          {
            "node": "Root Owner Research",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Root Owner Research": {
      "main": [
        [
          {
            "node": "Loop Over Relatives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Root Owner Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wake Deeds": {
      "ai_tool": [
        [
          {
            "node": "Deeds Expert",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Brave Search": {
      "ai_tool": [
        [
          {
            "node": "Obituary Researcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator": {
      "main": [
        [
          {
            "node": "Loop Over Relatives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obituary Researcher": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Deeds Expert": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SkipGenie": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Family Tree Expert": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Write Family Tree Database": {
      "ai_tool": [
        [
          {
            "node": "Family Tree Expert",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Load Database Context": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Root Owner Research",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfce313ceb739541efe69c8b1dfa9f66f8131d2289da9d81c960be5cd9159a8a"
  }
}